<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login Motorista</title>
    </head>
    <body>
        <h1>Login</h1>

        <form>
            <div>
                <label for="email">Email:</label>
                <input id="email" type="email" placeholder="exemplo@exemplo.com" required>
            </div>
            <div>
                <label for="senha">Senha:</label>
                <input id="senha" type="password" placeholder="Senha" required>
            </div>
            <div>
                <button type="submit">Entrar</button>
            </div>
            <button type="button">Voltar</button>
        </form>
        
    </body>
</html>